[submodule "nvim"]
	path = nvim
	url = git@github.com:abzcoding/nv.git
[submodule "lvim"]
	path = lvim
	url = git@github.com:abzcoding/lvim.git
[submodule "ghostty/shaders"]
	path = ghostty/shaders
	url = https://github.com/sahaj-b/ghostty-cursor-shaders
